.results {
  margin-top: 3rem;
}

.thead,
.card {
  display: flex;
  justify-content: center;
}

.hero-name,
.hero-description,
.name,
.description {
  border: 3px solid #000;
  padding: 2rem;
  width: 400px;
  text-align: center;
}

.hero-name,
.hero-description {
  font-size: 1.6rem;
  font-weight: 700;
}

.hero-name.no-border,
.hero-description.no-border {
  border-bottom: none;
}