.loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 8px solid rgb(193, 190, 190);
  border-top: 8px solid blue;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}