.name {
  color: white;
  font-size: 32px;
  font-weight: 800;
  display: flex;
  align-self: flex-end;
  justify-content: end;
  flex-direction: column;
  -webkit-text-stroke: 1px black;
  cursor: pointer;
}

.gender,
.height,
.mass,
.birth-year,
.hair-color,
.eye-color,
.skin-color {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.7rem;
}

.gender {
  margin-top: 2rem;
}

.gender span,
.height span,
.mass span,
.birth-year span,
.hair-color span,
.eye-color span,
.skin-color span {
  font-size: 1.2rem;
  letter-spacing: 0.06em;
  font-weight: 700;
}