header {
  background-color: #000;
  height: 5.2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 600px;
}

.country {
  padding: 0.6rem;
  border-radius: 20px;
  border: none;
  outline: none;
}