header {
  background-color: var(--header-bg);
  color: var(--header-fg);
  height: 5.2rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#theme-color {
  margin-left: 1.8rem;
  width: 14%;
  border: 2px solid var(--border-color);
  padding: 10px;
  background-color: var(--control-bg);
  color: var(--control-fg);
}


h1.app-title {
  color: var(--header-fg);
  text-align: center;
  padding: 0.6rem;
}

.navigation-container {
  display: flex;
  justify-content: end;
  margin-right: 1.8rem;
}

.navigation {
  display: flex;
  gap: 0.8rem;
}

.navigation a {
  color: var(--header-fg);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  align-self: center;
}

.navigation a.active {
  color: #989797
}
